*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.aboutMeContainer {
    margin: 2vh 3vw 2vh 3vw;
    display: flex;
    justify-self: center;
    align-items: center;
}

.portraitOne {
    max-width: 50%;
}
.aboutMe {
    overflow: hidden;
    margin: 0;
    background: rgba(128, 128, 128, 0.322);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.aboutMe h1 {
    font-size: 4vw;
    margin: 2vh 0 2vh 0
}

.aboutMeText {
    font-size: 1.5vw;
}

.aboutMeLinks {
    margin-top: 2vh;
    justify-self: end;
    display: flex;
    justify-content: end;
    gap: 0.5vw
}

.projectsContainer {
    background-color: grey;
    display: grid;
    grid-template:repeat(2, 1fr)/repeat(3, 1fr);
    gap:1vw;
    padding: 1vw;
    justify-content: center;
    align-items: center;
}

.project {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100%;
    padding: 1rem;
    font-size: 1vw;
}

.top {
    margin: 1rem 0 1rem 0;
    display: flex;
    gap: 0.5rem;
}

.projName {
    flex: 1;
    font-size: 1.5vw;
}

.proSrc {
    max-width: 100%;
    overflow: hidden;
}

footer {
    display: flex;
    background-color: rgba(0, 204, 255, 0.651);
    padding: 5rem;
}

.contactMe {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2vw;
}

.contactMe h4 {
    font-size: 5.5vw;
    margin: 2vh 0 2vw 0;
}

.contactText {
    margin-right: 40%;
}

.phone , .mail {
    display: flex;
    gap: 1rem;
    margin: 1rem 0 1rem 0;
}

.secondPortrait {
    margin:auto 0 auto 0;
    flex: 1;
}

.portraitTwo{
    overflow:hidden;
    max-width: 100%;
}
